@model IEnumerable<Cinema.Models.Film>


<div class="row pb-3">
	@foreach (var film in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<img src="@film.UrlImmPub" class="card-img-top rounded" />

						<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-primary">@film.Titolo</p>
								<p class="card-title text-info">Genere: <b>@film.Genere</b></p>
							</div>
							<div class="pl-1">
								<p>Anno di produzione: <b>@film.AnnoProd</b></p>
							</div>
							<div class="pl-1">
								<p>Durata: <b>@film.Durata</b></p>
							</div>
						</div>
					</div>
					<div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@film.Titolo">
							Maggiori informazioni...
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>