@*@model IEnumerable<Cinema.Models.Film>


<div class="row pb-3">
	@foreach (var film in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<img src="@film.UrlImmPub" class="card-img-top rounded" height="400px" width="auto"/>

						<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-primary">@film.Titolo</p>
								<p class="card-title text-info">Genere: <b>@film.Genere</b></p>
							</div>
							<div class="pl-1">
								<p>Anno di produzione: <b>@film.AnnoProd</b></p>
							</div>
							<div class="pl-1">
								<p>Durata: <b>@film.Durata</b></p>
							</div>
						</div>
					</div>
					<div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@film.Titolo">
							Maggiori informazioni...
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>*@

<link rel="stylesheet" href="~/css/homeFilm.css" />

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Film List</h2>
            @*            <div class="alert alert-primary" role="alert">
            Row data: <span id="row-data"></span>
            </div>*@
        </div>

    </div>
    <br /><br />
    <table id="tblData" class="table table-bordered table-striped cards" style="width:100%;  ">
        <thead>
            <tr>
                <th></th>
                <th>Titolo</th>
                <th>Durata</th>
                <th>AnnoProd</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/homeFilm.js"></script>
}
